
:root {
  font-size: 15pt;
}

* {
  box-sizing: border-box;
}

.App {
  display:flex;
  justify-content: center;
  padding: 2em;
}


.days {
  display: flex;
  flex-direction: row;
}


